<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="../static/styles.css" rel="stylesheet"/>

        <title>Data</title>
    </head>
    <body>
        <div class="topnav">
            <a class="navbar-brand" href="../index.html">Home</a>
            <a class="navbar-brand" href="terrorism.html">Terrorism</a>
            <a class="navbar-brand" href="data.html">Data</a>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="column">
              <p><font size="5"><b>Data source:</b></font><br>
              <ul>
                <li>Main source:
                  <a href="https://ourworldindata.org/terrorism" target="_blank">
                    https://ourworldindata.org/terrorism</a>
                </li>
              </ul>
              <p><font size="5"><b>Files:</b></font><br>
              <ul>
                <li>Terrorist incidents:
                  <a href="../../data/terrorist_incidents.json" target="_blank">
                    JSON</a>
                  <a href="../../data/terrorist_incidents.csv" target="_blank">
                    CSV</a>
                </li>
                <li>Fatal incidents:
                  <a href="../../data/fatal_terrorism.json" target="_blank">
                    JSON</a>
                  <a href="../../data/fatal_terrorism.csv" target="_blank">
                    CSV</a>
                </li>
                <li>Non fatal incidents:
                  <a href="../../data/non_fatal_terrorism.json" target="_blank">
                    JSON</a>
                  <a href="../../data/non_fatal_terrorism.csv" target="_blank">
                    CSV</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <footer class="text-center">
        <div>
            <span class="text">Max Simons // 12389285 // University Of Amsterdam // 2019</span>
        </div>
      </footer>
    </body>
</html>
